:root {
  --size: 0.5rem;
  --border: 1px solid;
  --box-sizing: border-box;
  --font-size: 1rem;
}

.root {
  width: 100%;
  height: 100vh;
}

.grid {
  --space: 10;
  --breakout-max-width: 1000px;
  --content-max-width: ;
  --cell-size: 2rem;
  --cell: [cell-start] minmax(var(--cell-size), 1fr) [cell-end];
  display: grid;
  position: relative;
  grid-template-columns:
    [full-width-start]
    repeat(var(--space), var(--cell))
    [content-start] repeat(auto-fill, var(--cell))
    [content-end]
    repeat(var(--space), var(--cell))
    [full-width-end];
}

.grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.grid > .content-grid {
  grid-column: content;
  background: brown;
}

.grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
  background: pink;
}

.grid > .breakout {
  grid-column: calc(var(--space) / 2) / calc(var(--space) / -2);
  display: grid;
}

@media screen and (min-width: 320px) {
  .grid {
    --space: 2;
  }
}

@media screen and (min-width: 720px) {
  .grid {
    --space: 10;
  }
}
